 <td><input type="checkbox" class='select' /></td>
 <td width="130"><%= last_name %></td>
 <td width="130"><%= first_name %></td>
 <td width="130"><%= number %></td>
 <td width="130"><%= address %></td>
 <td width="130"><%= comments %></td>
 <td><button>Edit</button></td>